<html lang="en">
<head>
    <!-- <meta> tags> -->
    <title>Ideasheet</title>
    <style>
        body {
            font-size: 14px;
        }
        .page {           
            width: 794px;
            height: 1123px;
            padding: 15px;
        }

        .page-header {
            display: flex;
            justify-content: space-between;
        }

        .page-header img {
            width: 400px;
            height: auto;
        }

        .sheet-header {
            border: 3px solid black; 
            display: flex; 
            justify-content: space-around; 
            align-items: center; 
            min-height: 120px;   
            margin-top: 10px;         
        }
    </style>
    

</head>

<body>
    <div>
        {{{body}}}
    </div>    
</body>
</html>