<html lang="en">
<head>
    <!-- <meta> tags> -->
    <title>Ideasheet</title>
    <script src="https://cdn.tailwindcss.com"></script>    
</head>

<body>
    <div>
        {{{body}}}
    </div>    
</body>
</html>